body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  background-image:url("https://media.giphy.com/media/Wew9BHqfYE90Y/giphy.gif");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color:rgb(252, 252, 252);
}
.title, .addDancerButton .addClownDancerButton .addSkullDancerButton .addWolfDancerButton {
  padding:5px 20px;
  float:left;
  margin-right: 20px;
}
.topbar{
  height:32px;
  background-color: black;
}
.title{
  background-color: rgb(119, 118, 118);
}

.dancer{
  /*border:10px solid red; */
  border-radius:10px;
  position:absolute;
}

/* .skull-dancer {
  background: 
  background: url('https://www.clipartmax.com/png/middle/232-2326475_human-skull-symbolism-clip-art-skull-logo-vector-png.png');
}
*/
img {
  max-height: 100px;
  max-width: 100px;
}  
